body{
    font-size: 14px;
}

.centro h2 {
    background-color: #0f6cb6;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    line-height: 35px;
    position: relative;
    display: block;
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 10px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.text-ar{
    text-align: right;
    padding-right: 10px !important;
}

.noticias-main{
    height: 320px !important;
    max-height: 320px !important;
}

.barra-main{

    height: 52px !important;
    max-height: 52px !important;
}
.barra-renova{
    padding-top: 10px;
}

.ble{
    background-color: #0f6cb6;
    width: 960px;
    height: 300px;
    margin-left: 15px;
    display: block;
}


.pie > li > a{
    font-size: 14px;
    color: #ffffff;
}

.pie > li > a:hover{
    color: #c8c8c8;
    text-decoration: none;
}

.pie > li{
    list-style: none;
}
.pie > li:before {
    content: '';
    background-color: #00aeef;
    display: inline-block;
    position: relative;
    height: 10px;
    width: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-right: 4px;
    top: 0px;
}